{% extends 'layout.html' %}

{% block body %}
<div class="container">    
    <h1>Taller de Proyecto 2</h1>
    <h4>Equipo TobyTeam</h4>
    <ul>
        <li>
            <span>
                <h6>Camino, Lucas Agustín</h6>
            </span>
        </li>
        <li>
            <span>
                <h6>Figueroa, Lihuen Leon</h6>
            </span>
        </li>
        <li>
            <span>
                <h6>Corrao, Santiago Vicente</h6>
            </span>
    </li>
</ul>
</div>

{% endblock %}