{% extends 'layout.html' %}

{% block body %}
<div class="container">    
    <h1>Taller de Proyecto 2</h1>
    <h3>Equipo TobyTeam</h3>
    <ul>
        <li>
            <span>
                <h5>Camino, Lucas Agustín</h5>
            </span>
        </li>
        <li>
            <span>
                <h5>Figueroa, Lihuen Leon</h5>
            </span>
        </li>
        <li>
            <span>
                <h5>Corrao, Santiago Vicente</h5>
            </span>
    </li>
</ul>
</div>

{% endblock %}